* {
    background-color: f2efea;
}
h1 {
    display: inline-block;
    color: #272401;
    height: 100%;
    width: auto;
    margin: auto;
    text-align: center;
    line-height: 150px;
}
header {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
}
.header, .nav {
    text-align: center;
}
#logo {
    width: 100%;
    height: 100%;
}
content {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
article {
    text-align: center;
}
ul {
    list-style-type: none;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
body {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
}
.nav_buttons {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 30%;
    justify-content: center;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 130px;
}
nav>p:hover {
    color: #0d0d0d;
    text-decoration: underline;
}
button {
    height: auto;
    border-radius: 26px;
    width: 100%;
    font-size: 40px;
    background-color: #557373;
}
button:hover {
    color: #dfe5f3;
}
#face {
    height: 100%;
    width: 100%;
    border-radius: 16px;
    position: relative;
    left: -30%;
}
nav>p {
    color: #557373;
}
span {
    color: #557373;
    line-height: 100px;
}
li {
    display: flex;
    flex-direction: row;
}
li>img {
    width: 10%;
    height: auto;
}
.homeButtons {
    width: 100%;
    position: relative;
    left: 10%;
}
.Github_section {
    display: flex;
    flex-direction: row;
}
.git_logo {
    height: 50%;
}
.projects {
    width: 100%;
    text-align: center;
    position: relative;
    top: 10%;
    font-size: 20px;
}
.content {
    display: flex;
    flex-direction: column;
}
.languages {
    display: flex;
    flex-direction: row;
}
.languages>section {
    width: 50%;
}
.lng {
    font-size: 40px;
    margin-bottom: 50px;
}
.WGU {
    width: 50%;
}
.WGU_logo {
    position: relative;
    left: 30%;
}
.linkedin_logo {
    position: relative;
    left: 30%;
}
.education_content {
    display: flex;
    flex-direction: row;
}
.Linkedin {
    width: 50%;
}
.experience_content {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -300px;
}
.ADT, .data, .trusting_brain {
    width: 50%;
}
.security {
    
}
.float_right {
    text-align: left;
    width: 50%;
    float: right;
}
.float_left {
    text-align: left;
    width: 50%;
    float: left;
}
table {
    width: 200%;
}
.eagle_scout, .pole_vaulting {
    display: flex;
    flex-direction: row;
}
.abt_img {
    width: 50%;
    float: left;
}
.abt_desc {
    text-align: left;
    width: 50%;
}
.abt_content {
    display: grid;
    grid-template-areas: 
    ".eagle_scout .pole_vaulting"
    ".inventions .inventions";
}
.videos {
    display: flex;
    flex-direction: column;
}
iframe {
    position: relative;
    left: 25%;
}